html,
body {
    height: 100%;
    background-color: #bb2424;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.container-sm{
    max-width: 400px;
    _max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container-md{
    max-width: 600px;
    _max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.h1-home{
    color:#fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    text-align: center;

}
.home-text{
    font-size: 16px;
    color:#fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.mt-55{
    margin-top: 55px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.navbar-brand{
    color:#fff !important;
    font-weight: 600;
}
.navbar-brand:hover{
    text-shadow: 0 1px 3px rgba(210,210,210,.5);
}


.footer{
margin-top: 30px;
}

.copyright{
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.copyright a{
    text-decoration:underline;
}

.copyright a:hover{
    text-decoration:none;
}